@media (max-width: 768px) {
    .article-card {
        min-height: 10rem !important;
        margin-bottom: 20px;
        width: 100%;
    }

    .article-body {
        order: 1 !important;
        height: 100% !important;
        width: 100% !important;
        position: relative;
        z-index: 1;
    }

    .article-image {
        position: relative;
        top: 0px;
        order: 2 !important;
        height: 100% !important;
        width: fit-content !important;

    }
    .card-text {
        font-size: 9px; /* smaller font size for small screens */
    }
    .card-title
    {
        font-size: 11px;
    }
    .button-container {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .button {
        padding: 5px 15px;
        font-size: 14px;
        font-weight: 500;
        color: #FFFFFF;
        border-radius: 5px;
        border: none;
        background-color: #0a1f44;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-right: 10px;
    }
    .Drop-down-button-custom{
        font-size: 12px !important;
        color: #FFFFFF;
        background-color: #26d38e;
    }
    .drop-down-item-custom{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        font-size: 11px;
        font-weight: 500;
        color: #FFFFFF;
        border-radius: 5px;
        border: none;
        background-color: #0a1f44;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-bottom: 5px;
    }
    .source_name
    {
        position: relative;
        top: 0px;
        font-size: 10px !important;
        margin-rigt: 30px;
    }

}

@media (min-width: 768px) {
    .article-card {
        min-height: 35rem !important;
        margin-bottom: 20px;
    }

    .article-body {
        height: 25% !important;
        max-width: 100% !important;
    }

    .article-image {
        max-height: 75% !important;
        min-width: 100% !important;
    }
    .button {
        font-size: 12px !important;
        padding: 3px 10px !important;
        margin-right: 5px !important;
    }
}

.button-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
    left: 20px !important;
    bottom: 10px !important;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    font-size: 11px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    background-color: #0a1f44;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
    margin-bottom: 10px;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}


.clock-component
{
    position: absolute;
    display: flex;
    bottom: 30px;
    right: 0px;
    flex-direction: row;
    align-items: center;
    min-width: 10%;
}
.clock-text
{
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    order: 2;
}

.source_name
{
    position: relative;
    top: 0px;
    font-size: 13px;
    margin-rigt: 30px;
}

.clock
{
    position: relative;
    margin-left: 105px;
    order: 1;
}


