.article-body {
    height: 100% !important;
}

@media (max-width: 768px) {
    .article-card {
        height: 10rem !important;
    }


    .article-image {
        order: 2 !important;
        height: 100% !important;
        max-width: 35% !important;
    }
}

@media (min-width: 768px) {
    .article-card {
        height: 35rem !important;
    }



    .article-image {
        height: 75% !important;
        max-width: 100% !important;
    }
}