@media (max-width: 768px) {
    .article-card {
        height: 10rem !important;
    }

    .article-body {
        order: 1 !important;
        height: 100% !important;
        max-width: 100% !important;
    }

    .article-image {
        order: 2 !important;
        height: 100% !important;
        max-width: 35% !important;
    }
}

@media (min-width: 768px) {
    .article-card {
        height: 35rem !important;
    }

    .article-body {
        height: 25% !important;
        max-width: 100% !important;
    }

    .article-image {
        height: 75% !important;
        max-width: 100% !important;
    }
}

.similar-articles-button {
    font-family: Outfit, sans-serif;
    background-color: transparent;
    border: solid #0a1f44 thin;
    padding: 4px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    color: #0a1f44;
}
