.hide-scroll::-webkit-scrollbar {
    display: none;
}

.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.label {
    background-color: #26d38e;
    border-radius: 0.5rem;
    border: 1px solid black;
    height: 3.5rem;
    overflow: hidden;
}
