@media (min-width:1000px) {
    .form-div {
        width: 35%;
        overflow: auto;
        height: auto;
        max-height: 100vh;;
    }
}

@media (max-width:1000px) {
    .form-div {
        min-width: min-content;
        width: 70%;
        overflow: auto;
        height: 50vh;
        max-height: 100vh;
    }

}

.form-container {
    height: 100vh;
}


.title {
    font-family: Outfit, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: black;
    text-align: center;
}

.default-button {
    white-space: nowrap;
    font-family: Outfit, sans-serif;
    border: none;
    padding: 4px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.login-button{
    background-color: #0a1f44;
    font-weight: bold;
    color: aliceblue;
    float: right;
    display: inline-block;
}

.link-button {
    display: inline;
    background-color: transparent;
    color: black;
    font-weight: bold;
}

.sign-up-button {
    background-color: forestgreen;
    color: white;
    font-weight: bold;
    display: inline-block;
    float: right;
}

.input-text {
    font-family: Outfit, sans-serif;
}

.normal-text {
    font-family: Outfit, sans-serif;
    color: black;
    display: inline;
    white-space: nowrap;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.input-error{
    color: #f13a3a;
    font-weight: 500;
    line-height: 20px;
}
