.primary_color {
    background-color: #0a1f44;
}

.secondary_color {
    background-color: #26d38e;
}

.nav_text {
    font-size: 16px;
    font-weight: 600;
    font-family: Outfit, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.nav_text:hover {
    color: #26d38e;
}

.dropdown-text {
    font-size: 16px;
    font-weight: 600;
    font-family: Outfit, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.dropdown-text:hover {
    color: white
}

.home_text {
    font-size: 30px;
    font-weight: 1000;
}

.dropdown-menu.show {
    background-color: #406fc2;
}

.dropdown-item {
    --bs-dropdown-link-active-bg: #819bc9;
    --bs-dropdown-link-hover-bg: #819bc9;
}